@font-face{
	font-family: mondwest;
 	src: url(Mondwest-Regular.otf);
}

body{
	font-family: mondwest;
	font-size: 2vw;
	color: blue;
	overflow: hidden;
}

::-webkit-scrollbar-thumb {
	border: 2px solid white;
	display: none;
}

::-webkit-scrollbar {
	width: 0.2vw;
	height: 0.2vw;
	display: none;
}
sup{
	font-size: 1.2vw;
}
/*a{
	margin: 2vw;
}*/

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: blue;
}

a:hover {
  /*text-decoration: underline;*/
  background-color: blue;
  color:white;
}

.parent{
	position: fixed;
	top: 0vw;
	left: 0vw;
	width: 92vw;
	height: 88vh;
	color: blue;
	box-shadow: 0px 0px 15px 10px blue;
	overflow: hidden;
	margin:4vw;
}

#text{
	position: absolute;
	top: 0vh;
	left: 1vw;
	width: 52vw;
	height: 85vh;
	color: blue;
/*	box-shadow: 0px 0px 20px 20px blue;*/
	overflow: scroll;
	padding: 3vw;
	z-index: 1;
	font-size: 4vw;
}

#title{
	font-size:4vw;
}

#links{
	position: absolute;
	top: 12vh;
    right:0vw;
    width: 20vw;
	height: auto;
}
#years{
	position: absolute;
	top: 13vh;
    left: 28vw;
	width: 10vw;
}

#toc{
	position: absolute;
	top: 4vh;
	right: 3vw;
	width: 20vw;
    height: auto;
}

#bar{
	position: absolute;
	top: 0vh;
	right: 28vw;
	width:0.2vw;
	height: 100vh;
	box-shadow: 0px 0px 8px 5px blue;
}



/*.enter:hover {
	text-decoration: underline;
	cursor: pointer;
}*/


/*#title{
	position: relative;
	top: -2vh;
	left: 2vh;
}*/

/*#meme{
	position: relative;
	left: 35vw;
	top: 15vw;
	display: inline-block;
	padding: 3vw;
}

#circles{
	position: relative;
	left: 20vw;
	top: 45vw;
	display: inline-block;
	padding: 3vw;
}

#time{
	position: relative;
	left: 13vw;
	top: 12vw;
	display: inline-block;
	padding: 3vw;
}

#pets{
	position: relative;
	left: 48vw;
	top: 28vw;
	display: inline-block;
	padding: 3vw;
}

#emoticons{
	position: relative;
	left: 10vw;
	top: 15vw;
	display: inline-block;
	padding: 3vw;
}
*/








