@font-face{
	font-family: neuebit;
 	src: url(NeueBit-Bold.otf);
}

@font-face{
	font-family: mondwest;
 	src: url(Mondwest-Regular.otf);
}

body{
	font-family: mondwest;
	font-size: 1.8vw;
	color: #53FFBB;
	/*overflow-x: hidden;*/
	background-color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: #53FFBB;
}

a:hover{
	background-color: #53FFBB;
	color:black;
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-thumb {
  background: #53FFBB; 

}

#return{
	position: fixed;
	top: 2vh;
	left: 2vw;

}

.name{
	position: fixed;
	bottom: 2vh;
	left: 2vw;
}

.input{
	position: fixed;
	top: 1vh;
	right: 1vw;
	width: auto;
	height: auto;
	/*border: 2px solid #CC66FF;*/
/*	padding: 2vh;
*/	display: flex;
	flex-direction: column;
}


label{
	position: relative;
	margin: .5vh;
}

label:hover{
	background-color: #53FFBB;
	color:black;
}

img{
	width:20vw;
}

#parent1{
	position: fixed;
	top: 40vh;
	left: 38vw;
	width: 25vw;
	height: auto;	
	border: 2px solid #53FFBB;
	margin-bottom: 3vh;
	z-index: 1;
	padding: 2vw;
}

/*#parent1 img{
	height: 21vw;
}
*/
#sidebar{
	position: relative;
/*	top: 8vh;
	right: 5vw;*/
	width: 10vw;
	height: auto;
	border: 2px solid #53FFBB;
	padding: 2vh;
}


img:hover {
  box-shadow: 0 0 5px 2px #53FFBB;
  z-index:1;
}

















