@font-face{
	font-family: neuebit;
 	src: url(NeueBit-Bold.otf);
}

@font-face{
	font-family: mondwest;
 	src: url(Mondwest-Regular.otf);
}

body{
	font-family: mondwest;
	font-size: 1.8vw;
	color: #6E7EFF;
	overflow: hidden;
}

::-webkit-scrollbar {
  width: 1vw;
}


::-webkit-scrollbar-thumb {
  background: #6E7EFF; 

}

a:link {
  color: #6E7EFF;
  text-decoration: none;
}

a:visited {
  color: #6E7EFF;
}

a:hover {
  /*text-decoration: underline;*/
  background-color: #6E7EFF;
  color:white;
}

#name{
	position: absolute;
	bottom: 2.5vh;
	left: 2.5vw;
	width: 17vw;

}

.des{
	position: absolute;
	top: 3.5vh;
	left: 3vw;
	width: 17vw;
}

label{
	position: relative;
	smargin: .5vh;
}

label:hover{
	background-color: #6E7EFF;
	color:white;
}

img:hover {
  box-shadow: 0 0 5px 2px #6E7EFF;
  z-index:1;
}


#parent1{
	position: absolute;
	top: 3vh;
	right: 2vw;
	width: 73vw;
	height: 93vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: center;
	overflow-y: scroll;
	border: 2px solid #6E7EFF;
	margin:auto;

}

#parent1 img{
	max-width: 10vw;
	margin: .7vw;
}

#dates{
	position: relative;
	top: 1vh;
    left: -27vw;
    padding: 1vw;
}

#pictures, #pictures2, #pictures3{
	padding-bottom: 8vh;
	padding-left: .6vw;
}
















